<div 
    class="fixed top-0 end-0 shadow-lg transition-all duration-300 transform h-full max-w-xs w-full z-[80] bg-white border-s border-gray-100 dark:bg-neutral-800 dark:border-neutral-700"
    role="dialog" tabindex="-1" aria-labelledby="hs-offcanvas-body-scrolling-with-backdrop-label">
    <div class="flex justify-between items-center py-3 px-4 border-b dark:border-neutral-700">
        <div class="mt-4">
            <h3 class="font-bold text-gray-800 dark:text-white">
                Compliance Configuration
            </h3>
            <p>See our dashboard options.</p>
        </div>
        <button type="button"
            class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600"
            aria-label="Close">
            <span class="sr-only">Close</span>
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M18 6 6 18"></path>
                <path d="m6 6 12 12"></path>
            </svg>
        </button>
    </div>
    <div class="px-5 my-6">
        <h4 class="text-gray-800 dark:text-white font-semibold font-sm">Color Palette</h4>
        <div class="my-3 w-full relative flex gap-3">
            <label class="" *ngFor="let color of paletteColors">
              <input class="sr-only peer" type="radio" name="colorRadio" />
              <div
                [ngClass]="color.class"
                class="w-6 h-6 bg-transparent border-2 rounded-full transition duration-300 ease-in-out cursor-pointer"
              ></div>
            </label>
          </div>
        <p class="text-gray-800 dark:text-neutral-400">
            Try scrolling the rest of the page to see this option in action.
        </p>
    </div>
</div>